@model FabricantesModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

@Html.HiddenFor(model => model.id, new { @id = "hfId" })

<div class="form-group">
    <label>Id Fabricante : </label>
    @Html.DisplayFor(x => x.id)
</div>


<div class="form-group">
    <button type="button" id="btnEliminar" class="btn btn-primary">Eliminar</button>
</div>

<div id="modalConfirmacion" class="modal" role="dialog" style="padding-top:110px">
    <div class="modal-dialog">
        <div class="modal-content">



            <div class="modal-body">
                Esta seguro que desea eliminar este registro ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" id="btnSi" data-dismiss="modal">Si</button>
                <button class="btn btn-default" type="button" id="btnNo" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div id="modalMsj" class="modal" role="dialog" style="padding-top:110px">
    <div class="modal-dialog">
        <div class="modal-content">



            <div class="modal-body">
                <p id="textoDocumento"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" id="modalcerrar" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnEliminar").click(function () {
            showConfirmacion();
        });

        function showConfirmacion() {
            $('#modalConfirmacion').modal({ backdrop: 'static', keyboard: false })
            $("#modalConfirmacion").modal("show");
        }

         $("#btnSi").click(function () {
            Eliminar();
        });

        function showModal(msj) {
            $('#modalMsj').modal({ backdrop: 'static', keyboard: false })
            $('#textoDocumento').text(msj);
            $("#modalMsj").modal("show");
        }


        function Eliminar() {

            var info = { id: $("#hfId").val()};

            (async () => {
                const rawResponse = await fetch('@Url.Action("EliminarFabricante", "Fabricante")', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(info)
                });
                const content = await rawResponse.json();

                showModal(content.responseText);
            })();

        };


        $("#modalcerrar").click(function (event) {
            window.location.href = '/Home/Index';
        });


</script>


